/* Layout for Grid */

.grid-container{
    display: inline-grid;
    grid-template-columns: 150px 380px 150px;
    grid-template-rows: 890px;
    grid-gap: 30px;
}
.item1, .item2, .item3{
    background-color: rgb(9, 63, 77);
}

/* Layout for Flexbox */

.flex-container{
    display: flex;
}
.i1{
    width: 150px;
    height: 890px;
    background-color: rgb(68, 3, 63);
    margin: 15px;
    margin-left: 0px;
}
.i2{
    width: 380px;
    height: 890px;
    background-color: rgb(68, 3, 63);
    margin: 15px;
}
.i3{
    width: 150px;
    height: 890px;
    background-color: rgb(68, 3, 63);
    margin: 15px;
}
